node_modules
dist
*.DS_Store
*.class
*.jar
.lib
.idea
logs/*
target/
project/boot
lib_managed/*
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed
project/plugins/project
nlcd_pa.tif
land_cover_data/attributes
land_cover_data/nlcd-pennsylvania
