.leaflet-container {
    height: 98vh;
    width: 100%;
}

.sr-only {
    display: none;
}

#data-viz-control {
    background-color: white;
    font-size: 1rem;
    width: 20rem;
    margin: 1rem;
    word-wrap: break-word;
}
