.leaflet-container {
    height: 100%;
    width: inherit;
}

.sr-only {
    display: none;
}

#full-screen-map {
    height: calc(100vh - 50px);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

#map-with-panel {
    height: calc(100vh - 50px);
    position: fixed;
    left: 0;
    right: 40%;
    bottom: 0;
}

#header-link {
    color: white;
    text-decoration: none;
}

#centroid-viz-control {
    left: 2.5rem !important;
    bottom: 2.5rem !important;
    position: fixed !important;
}
