.leaflet-container {
    height: 100%;
    width: inherit;
}

.sr-only {
    display: none;
}

#data-viz-control {
    background-color: white;
    font-size: 1rem;
    width: 20rem;
    margin: 1rem;
    word-wrap: break-word;
}

#full-screen-map {
    height: calc(100vh - 50px);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

#map-with-panel {
    height: calc(100vh - 50px);
    position: fixed;
    left: 0;
    right: 40%;
    bottom: 0;
}

#header-link {
    color: white;
    text-decoration: none;
}
