.leaflet-container {
    height: 100%;
    width: inherit;
}

.sr-only {
    display: none;
}

#full-screen-map {
    height: calc(100vh - 50px);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

#header-link {
    color: white;
    text-decoration: none;
}

.api-endpoint-list-item {
    padding-right: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
}

.api-endpoints-control {
    padding: 12px;
}

.data-card {
    margin-bottom: 10px;
}

#error-card-icon {
    margin-left: 10px;
    color: #DB3737;
}

#error-card-message {
    font-weight: 500;
    font-size: 16px;
}

#piechart-legend-link {
    padding-left: 10px;
}

.pt-icon-layer.active {
    text-shadow: 0 0 10px white;
}
